.wrapText {
    text-wrap: wrap;
    max-width: 90vw;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 0.5em;
}

.emptyState {
    margin-left: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.published {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}
